textarea h2
  { margin-bottom: 0; } 
small
  { display: block; margin-top: 40px; font-size: 9px; }
.commands
  { float:left; list-style: none; width:100%;  }
.commands li
  { float:left; margin-right:.2em; width:5em; line-height:3em;
    background:#ddd; overflow:hidden; text-align:center;
    border-radius:.3em; 
  }

.commands [data-wysihtml5-action]
  { float: right; }
  
ul
  { list-style:none; }
  
[data-wysihtml5-dialog]
  { float:left; width:100%; clear:both; margin-left:3em; 
    padding: 5px; border: 1px solid #666; }
a[data-wysihtml5-command-value="red"]
  { color: red; }
a[data-wysihtml5-command-value="green"]
  { color: green; }
a[data-wysihtml5-command-value="blue"]
  { color: blue; }

a[data-wysihtml5-command]
  { float:left; height:3em; width:100%; }
a[data-wysihtml5-command="bold"]
  { background: #ddd url('/img/glyphicons/glyphicons_102_bold.png') 
    center center no-repeat; }
a[data-wysihtml5-command="italic"]
  { background: #ddd url('/img/glyphicons/glyphicons_101_italic.png')
    center center no-repeat; }
a[data-wysihtml5-command="insertUnorderedList"]
  { background: #ddd url('/img/glyphicons/glyphicons_157_show_lines.png')
    center center no-repeat; }
a[data-wysihtml5-command="insertOrderedList"]
  { background: #ddd url('/img/glyphicons/glyphicons_114_list.png')
    center center no-repeat; }
a[data-wysihtml5-command="createLink"]
  { background: #ddd url('/img/glyphicons/glyphicons_050_link.png')
    center center no-repeat; }
a[data-wysihtml5-command="insertImage"]
  { background: #ddd url('/img/glyphicons/glyphicons_159_picture.png')
    center center no-repeat; }
a[data-wysihtml5-command-value="h1"],
a[data-wysihtml5-command-value="h2"]
  { float:left; height:2em; width:100%; font-size:1.5em; font-weight:bold;
    text-transform:uppercase; }
a[data-wysihtml5-command="foreColor"]
  { background: #ddd url('/img/glyphicons/glyphicons_155_show_thumbnails.png') 
    center center no-repeat; }
a[data-wysihtml5-action="change_view"]
  { float:left; height:3em; width:100%; 
    background: #ddd url('/img/glyphicons/glyphicons_118_embed_close.png')
    center center no-repeat; }

.commands .wysihtml5-command-active
  { font-weight:bold; background-color:#bbb; }
.wysiwyg-font-size-smaller
  { font-size: smaller; }
.wysiwyg-font-size-larger
  { font-size: larger; }
.wysiwyg-font-size-xx-large 
  { font-size: xx-large; }
.wysiwyg-font-size-x-large
  { font-size: x-large; }
.wysiwyg-font-size-large
  { font-size: large; }
.wysiwyg-font-size-medium
  { font-size: medium; }
.wysiwyg-font-size-small
  { font-size: small; }
.wysiwyg-font-size-x-small
  { font-size: x-small; }
.wysiwyg-font-size-xx-small
  { font-size: xx-small; }
.wysiwyg-color-black
  { color: black; }
.wysiwyg-color-silver
  { color: silver; }
.wysiwyg-color-gray
  { color: gray; }
.wysiwyg-color-white
  { color: white; }
.wysiwyg-color-maroon
  { color: maroon; }
.wysiwyg-color-red
  { color: red; }
.wysiwyg-color-purple
  { color: purple; }
.wysiwyg-color-fuchsia
  { color: fuchsia; }
.wysiwyg-color-green
  { color: green; }
.wysiwyg-color-lime
  { color: lime; }
.wysiwyg-color-olive
  { color: olive; }
.wysiwyg-color-yellow
  { color: yellow; }
.wysiwyg-color-navy
  { color: navy; }
.wysiwyg-color-blue
  { color: blue; }
.wysiwyg-color-teal
  { color: teal; }
.wysiwyg-color-aqua
  { color: aqua; }
.wysiwyg-text-align-right
  { text-align: right; }
.wysiwyg-text-align-center
  { text-align: center; }
.wysiwyg-text-align-left
  { text-align: left; }
.wysiwyg-float-left 
  { float: left; margin: 0 8px 8px 0; }
.wysiwyg-float-right 
  { float: right; margin: 0 0 8px 8px; }
.wysiwyg-clear-right
  { clear: right; }
.wysiwyg-clear-left
  { clear: left; }
