/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  /*font-size: 100%;*/
  /*font: inherit;*/
  /*vertical-align: baseline;*/
/*}*/

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.activities .avatar {
  padding: 1px 3px;
  border: 0.1em solid #bebebe;
}
.activities .avatar img {
  max-width: 100%;
  vertical-align: center;
}

.activities {
  margin: .8em 0 1.6em 0;
}

.activities li {
  list-style: none;
  width: 100%;
  background: #ffdd00;
  border: 0.1em solid #bebebe;
  margin-bottom: 1em;
  cursor: pointer;
}

.activities li.read {
  list-style: none;
  width: 100%;
  background: #fefefe;
  border: 0.1em solid #bebebe;
  margin-bottom: 1em;
  cursor: default;
}

#main h3 {
  color: #9c9c9c;
  font-size: .9em;
}

.activities a {
  color: #474747;
  font-weight: bold;
}

.activities .avatar {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  max-width: 1.8em;
  margin: .3em 1% 0 1%;
}

.activities .predicate {
  padding: .4em 0 .4em 0;
  line-height: 1.1em;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-right: 1%;
}

.activities .predicate p {
  font-size: .8em;
  width: 100%;
}

.activities abbr {
  font-size: .7em;
  color: #9c9c9c;
}

.activities .description {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  color: #9c9c9c;
  line-height: 1.2em;
  padding: .4em 1%;
  width: 30%;
  border-left: 0.1em solid #bebebe;
  /*border-right: 0.1em solid #bebebe;*/
  margin-right: 1%;
  overflow: hidden;
}

.activities .description p {
  max-height: 3.2em;
  font-size: .7em;
}

.activities .controls {
  display: inline-block;
  line-height: 2.4em;
  border-left: 0.1em solid #bebebe;
  padding: .4em 0;
  width: 22%;
}

.activities .controls button {
  width: 46%;
  margin: 0 0 0 1%;
  padding: .3em .4em;
  font-size: .7em;
}

.activities .controls .error_messages {
  margin: 0 0 0 1%;
  padding: .3em .4em;
  font-size: .7em;
}

.activities .state {
  float: right;
  line-height: 2.4em;
  padding: .4em 0;
  width: 22%;
  margin-right: 1em;
  text-align: right;
}

.activities .accepted {
  color: green;
}

.activities .rejected {
  color: #911;
}

button.decline {
  background-color: #991111;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d51818), color-stop(100%, #991111));
  background: -webkit-linear-gradient(top, #d51818, #991111);
  background: -moz-linear-gradient(top, #d51818, #991111);
  background: -o-linear-gradient(top, #d51818, #991111);
  background: -ms-linear-gradient(top, #d51818, #991111);
  background: linear-gradient(top, #d51818, #991111);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #820e0e;
  outline: none;
  padding: 0.5em 1em 0.7em 1em;
  color: #f4e7e7;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
button.decline:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e72929), color-stop(100%, #991111));
  background: -webkit-linear-gradient(top, #e72929, #991111);
  background: -moz-linear-gradient(top, #e72929, #991111);
  background: -o-linear-gradient(top, #e72929, #991111);
  background: -ms-linear-gradient(top, #e72929, #991111);
  background: linear-gradient(top, #e72929, #991111);
  text-decoration: none;
}
button.decline:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #740d0d), color-stop(100%, #991111));
  background: -webkit-linear-gradient(top, #740d0d, #991111);
  background: -moz-linear-gradient(top, #740d0d, #991111);
  background: -o-linear-gradient(top, #740d0d, #991111);
  background: -ms-linear-gradient(top, #740d0d, #991111);
  background: linear-gradient(top, #740d0d, #991111);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

button.accept {
  background-color: #005070;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007fb2), color-stop(100%, #005070));
  background: -webkit-linear-gradient(top, #007fb2, #005070);
  background: -moz-linear-gradient(top, #007fb2, #005070);
  background: -o-linear-gradient(top, #007fb2, #005070);
  background: -ms-linear-gradient(top, #007fb2, #005070);
  background: linear-gradient(top, #007fb2, #005070);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #003e57;
  outline: none;
  padding: 0.5em 1em 0.7em 1em;
  color: #e5edf0;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
button.accept:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099d6), color-stop(100%, #005070));
  background: -webkit-linear-gradient(top, #0099d6, #005070);
  background: -moz-linear-gradient(top, #0099d6, #005070);
  background: -o-linear-gradient(top, #0099d6, #005070);
  background: -ms-linear-gradient(top, #0099d6, #005070);
  background: linear-gradient(top, #0099d6, #005070);
  text-decoration: none;
}
button.accept:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003347), color-stop(100%, #005070));
  background: -webkit-linear-gradient(top, #003347, #005070);
  background: -moz-linear-gradient(top, #003347, #005070);
  background: -o-linear-gradient(top, #003347, #005070);
  background: -ms-linear-gradient(top, #003347, #005070);
  background: linear-gradient(top, #003347, #005070);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
