body.external
  { background:#e81; }
.external p.loading
  { text-align:center; line-height:4em; font-size:6em; color:#fff;
    font-weight:bold; }
.external div.loading img
  { height:5em; width:5em; }
.external h1
  { margin-top:2.5em; margin-bottom:.4em; font-size:3em; color:#fff; 
    padding-left:1.5em; background: #e81 url("/img/logo.png") no-repeat; }
.external h1 a
  { color:#fff; }
.external h1 a:hover
  { color:#fff; text-decoration:none; }
.external div.picture
  { background:#e81 url("/img/people.jpg"); width:46em; height:20em;
    border-radius:.4em; box-shadow:0px 1px 11em #dd7; }
.external div.picture div.tagline
  { margin-top:20em;
    color:#fff; background:#000; background:rgba(0,0,0,0.80); 
    padding:1em; 
    border-bottom-left-radius:.4em; border-bottom-right-radius:.4em; }
.external h2
  { margin-bottom:1em; }
.external h3
  { margin-bottom:.4em; }
.external form.signup
  { padding-top:3em; padding-bottom:3em; }
.external form.signup
  { box-shadow:0px 1px 5em #dd7; }
.external form.signup h3 
  { margin-bottom:1em; }
.external button
  { font-weight:bold; }
.external button i
  { margin-left:.4em; }
.external p.terms
  { font-size: .8em; margin-bottom:2em; }
.external ul.footer
  { color:#fff; margin-left:3em; }
.external ul.footer li
  { float:left; margin-right:1em; }
.external ul.footer li a
  { padding-left:1em; color:#fff; }

body.internal
  { background:#eee url("../img/texture-bg.png"); overflow:auto; }

a.brand
  { background:#232323 url("../img/logo_small.png") 2em .3em no-repeat; }
a.brand span
  { margin-left:3.2em; height:3em; }
.nav .badge
  { margin-left:.5em; }
.nav .icon-white
  { margin-top:.2em; }
.nav img
  { height:1.5em; width:1.5em; margin:0; border-radius:.3em;}
#session
  { position:fixed; top:.4em; left:84%; height:14em; width:15%; color:#fff; 
    font-weight:bold; }
#session img
  { height:2em; width:2em; border-radius:.3em; margin:0 .5em; 
    border:.2em solid #8cd214; }
#session a.dropdown-toggle, #session a.dropdown-toggle:hover
  { color:#fff; font-weight:bold; width:90%; }
#session a i
  { padding-left:.5em; }
  

#header
  { position:fixed; top:3em; left:0; right:33%; 
    line-height:3em; height:3em; background:#999; 
      border-bottom:.1em solid #ccc; z-index:400; }
#header h1
  { text-align:center; font-size:1.2em; color:#fff; }
#header h1 i
  { margin-left:.5em; }
#header .controls
  { float:right; margin-right:5em; }
  
#content.container-fluid
  { padding:0; }
#main
  { width:65%; margin:6em 35% 0 0; }
.btn-toolbar
  { text-align: center; margin-top:0em; }


#session ul.dropdown-menu li
  { z-index:1000; }
#roster
  { position:fixed; top:3em; bottom:0; right:0%; width:16%;  
    background:#444; }
#roster #user, #roster_search
  { display:none; }
#roster ul
  { margin-top:.7em;} 
#roster li
  { margin:0 0 .5em .5em; background:#eee; width:95%; border-radius:.3em; 
    z-index:1050; cursor:pointer;}
#roster img
  { height:1.5em; width:1.5em; border-radius:.3em; border:.3em solid #8cd214; }
#roster span
  { font-size:.85em; }

.truncate, .truncate a, .truncate li, .truncate p
  { width:100%; white-space:nowrap; overflow:hidden; 
    text-overflow:ellipsis; -o-text-overflow:ellipsis; 
    -ms-text-overflow:ellipsis; }

.btn-toolbar .btn
  { height:1.5em; margin-top:2em; }

ul.chzn-choices
  { border-radius:.3em; border:.1em solid #ddd; }

.activity .state abbr
  { margin-left:1em; font-weight:bold; }
.activity .state .label 
  { float:right; margin-right:1em; }
.activity .actions
  { float:left; text-align:center; margin-top:1em; 
    position:relative; left:50%; }
.activity .actions li
  { float:left; position:relative; right:50%; margin-right:1em; }
.activity .actions li button
  { width:8em; }
.activity .actions .message
  { width:100%; }


.article img
  { float:left; height:3em; width:3em; border-radius:8%; margin-right:1.5%; }
.article > .data
  { float:left; font-size:.9em; min-height:3em; width:87%; padding:1em 0 0 0; 
    margin-bottom:1em; background:#fff; 
    border: .1em solid #ccc; border-radius:.5em; }
.article .author
  { float:left; width:70%; padding-left:1em; margin:0 0 .2em 0;}
.author span.user_name
  { font-weight:bold; margin-right:1em; }
.author span.label
  { margin:0 1em; }
.article .links
  { float:right; }
.article .links li
  { float:left; margin-right:1em; }
.article .message
  { padding-left:1em; font-weight:bold; margin-bottom:.2em; }
.article .text
  { padding:0 0 1.5em 0; margin:.5em 1em 0 1em; width:97%; }

.article .files
  { margin:0 0 2em 1em; }
.article .files li
  { float:left; width:14em; margin:0 3em 1em 0; padding:1em 2em 1em 1em;
    background:#eee; border-radius:.6em; }
.article .files li a
  { float:left; width:85%; padding-left:3.5em; height:3em; line-height:3em; 
    margin-right:1em; }
.article .files li a.pdf
  { background:url("/img/pdf.png") 0 0 no-repeat; } 
.article .files li a.ppt
  { background:url("/img/ppt.gif") 0 0 no-repeat; } 

.reply
  { clear:both; width:95%; padding-top:1em; margin:0 1em; 
    border-top:.1em dotted #aaa; }
.reply img
  { height:2.5em; width:2.5em; margin:0; }
.reply .data
  { float:left; }
.reply .text
  { border:none; }

#sidebar 
  { position:fixed; top:3em; bottom:0; right:16%; width:20%; 
    overflow:auto; background: #dedede; border-left:.1em solid #999; }
#sidebar .header
  { position:fixed; top:3em; right:16%; width:20%; height:3em; 
    text-align:center; background:#999; border-bottom:.1em solid #ccc;  
    z-index:510; }
#sidebar .header input.search-query
  { height:1em; margin:.7em 0 0 2em; }

#sidebar .boxes
  { margin-top:4em; }
#sidebar .counters
  { width:90%; }
#sidebar .counters li
  { background:#fefefe; border-radius:.6em; }
#sidebar .counter
  { font-weight:bold; font-size:1.2em; margin-top:.8em; }
#sidebar .legend
  { font-size:.8em; font-weight:bold; text-transform:uppercase;}
#sidebar h3
  { clear:both; background:#999; color:#fff; margin-bottom:1em; 
    font-size:1.1em; padding-left:.8em; }
#sidebar h3 a
  { color:#fff; font-weight:normal; float:right; margin-right:.5em; }
#sidebar h3 a
  { text-decoration:none; }
#sidebar p
  { text-align:center; }
#sidebar button
  { margin:0 0 1em 1em; padding:.4em .4em; font-size:.9em;}
#sidebar .invite span
  { font-weight:bold; font-size:1.1em; color:#fff; }
#sidebar .invite i
  { padding-right:.2em; }
#sidebar .list i, #sidebar h3 i, #sidebar .box i
  { float:right; }
#sidebar ul.left i
  { float:left; }
#sidebar h3 i
  { margin:.4em .4em 0 0; }
#sidebar ul
  { margin-left:1em; }
#sidebar ul.avatars
  { height:2.8em; overflow:hidden; width:95%;}
#sidebar ul.avatars button
  { display:none; }
#sidebar ul.avatars li
  { float:left; }
#sidebar ul.avatars li img
  { border-radius:.3em; height:2.5em; width:2.5em; margin:0 .5em .5em 0; }
#sidebar ul.list li
  { height:1.5em; background:#fff; margin-bottom:.3em; 
    padding:.2em .4em .2em .6em; border-radius:.4em; 
    border:.1em solid #ccc; }
#sidebar ul.list li:hover
  { background:#fec; border:.1em solid #dca; }
#sidebar ul.list li.active 
  { background-color: #fec; z-index:950; border:.1em solid #dca;}
#sidebar ul.list li a
  { float:left; width:90%; color:#555; font-size:.9em;
    white-space:nowrap; overflow:hidden; text-decoration: none; 
    text-overflow:ellipsis; -o-text-overflow:ellipsis; 
    -ms-text-overflow:ellipsis; }

/* UPLOADS */
form.articles, .article form
  { padding:1em 0; }
form.articles ul
  { float:left; width:95%; background:#dedede; padding:.5em; 
    border-radius:.3em; }
form.articles > ul > li, .article form > ul > li
  { width:100%; }
form.articles textarea, .article form textarea
  { width:98%; padding:.5em; }
form.articles button.submit, .article form button.submit
  { float:right; width:8em; margin-right:0; }

.article form.reply > ul
  { float:left; width:98%; background:#dedede; padding:.5em 1%; }

.uploader_form
  { width:80%; padding:0; background:red; }
.pick_file
  { float:left; }
ul.file_list
  { float:left; clear:both; width:50%; background:transparent; }
.file_list li
  { float:left; width:16em; padding:.2em .5em; margin-right:.5em;
    margin-top:.5em; background:#eee; 
    border:.1em solid #aaa; border-radius:.3em; }
.file_list p
  { margin:0; }
a.file_remove
  { float:right; color:#666; text-decoration:none; cursor:pointer; }
a.file_remove:hover
  { text-decoration:none; }
.file_list img
  { float:left; height:4em; width:4em; margin-right:.5em; }
.file_list .failure
  { color:red; }
.file_list .success
  { color:green; }

.profile
  { float:left; padding:1em 0 0 1em; margin:1em 0; background:#ffd; 
    border:.1em solid #ccc; border-radius:.3em; width:95%; }
.profile img
  { border:.1em solid #ccc; border-radius:.3em; }
.profile .card
  { float:left; margin-right:.5em; margin-bottom:1em; }
.profile .picture
  { float:left; text-align:center; }
.profile .picture img
  { margin-bottom:1em; height:5em; width:5em; }
.profile .info
  { float:left; margin-left:2em; }
.profile .name
  { float:left; clear:both; font-size:1.2em; font-weight:bold; }
.profile .counters
  { float:left; clear:both; }
.profile .counters li
  { float:left; margin-right:1em; }
.profile .legend, .profile .connections p, .profile .workspaces p
  { font-size:.8em; line-height:.8em; text-transform:uppercase; }
.profile .legend:after
  { content: ": " }
.profile .details
  { clear:both; }
.profile .connections
  { float:right; width:13em;  }
.profile .connections ul
  { float:left; }
.profile .connections p
  { clear:both; } 
.profile .connections li
  { float:left; margin-right:.5em; margin-bottom:.5em; }
.profile .connections li img
  { width:2.5em; height:2.5em; border-radius:.3em; }
.profile .workspaces
  { float:left; width:10em; height:100%; min-height:5em; 
    margin-right:1em; overflow:hidden; }

div.settings
  { margin-top:1em; }
div.settings form
  { float:left; }
.settings .avatar
  { float:left;  margin-left:10%; width:20%; text-align:center; }
.settings .avatar img
  { height:6em; width:6em; margin-bottom:1em; }
.settings ul
  { float:left; width:50%; }
.settings li
  { float:left; width:100%; }
.settings input[type="text"]
  { width:98%; }
.settings input[name="first"], .settings input[name="last"]
  { width:45%; }
.settings input[name="last"]
  { float:right; }
.settings select
  { width: 100%; }
.results
  { float:left; margin:1em; }
ul li.workspace
  { float:left; padding:1em; width:18em; margin:0 .5em .5em 0; 
    font-size:.9em; background:#fff; border:.1em solid #ccc; 
    border-radius:.6em; }
ul li.workspace h3
  { font-size:1.1em; line-height:1.3em; margin-bottom:1em;  }
ul li.workspace button
  { width:100%; text-align:center; margin-top:1em; }
ul li.workspace span
  { padding-right:2em; }
ul li.workspace.in 
  { border:.1em solid #8cd214; }
ul .card 
  { float:left; padding:1em; width:16em; margin:0 .5em .5em 0; 
    font-size:.9em;
    background:#fff; border:.1em solid #ccc; border-radius:.6em; }
ul .card.following
  { border:.1em solid #8cd214; }
ul .card img
  { float:left; height:4em; width:4em; margin-bottom:1em; border-radius:.3em; }
ul .card button
  { width:100%; text-align:center; margin-top:1em; }
ul .card button label
  { color:#fff; }
ul .card i
  { margin-top:.1em; }
ul .card .stats
  { float:left; }
ul .card .stats li
  { margin-left:1em; line-height:1.4em; }
ul .card .data
  { clear:both; height:6em; }
ul .card li.first, .card li.last
  { float:left; font-weight:bold; }
ul .card li.first
  { padding-right:.5em; } 
ul .card li.title
  { font-weight:bold; clear:both; }

.modal form ul .btn
  { float:none; margin:0; }
.btn-primary, .btn-warning
  { font-weight: bold; }

ul.messages
  { margin:0; padding:0; width:100%;}
div.message_container
  { font-size:.9em; width:100%; margin:0; padding:0; }
input.chat_input
  { position:absolute; margin-top:1em; left:1em; bottom:0; width:92%;}
  { position:relative; bottom:0; }
