/* div#roster
 * position: absolute
 * top: 0
 * bottom: 0
 * right: 0
 * width: 15%
 * overflow: auto
 * background: #fff
 * border-left: 2px solid #aaa */
div#roster #user {
  height: 60px;
  border-bottom: 1px solid #dddddd; }
  div#roster #user a {
    font-size: 12px; }
  div#roster #user li {
    float: left;
    width: 100%;
    clear: both;
    height: 30px;
    border-bottom: 1px dotted #dddddd; }
    div#roster #user li img {
      float: left;
      height: 20px;
      width: 20px;
      margin: 3px 10px 3px 5px; }
div#roster li online img {
  border: 2px solid green;
  border-radius: 2px; }
div#roster li offline img {
  border: 2px solid red;
  border-radius: 2px; }
div#roster li a {
  float: left;
  margin-top: 7px 0;
  font-size: 12px; }

div.message_container input.chat_input {
  width: 100%; }
