<div class="template">
  <img src="/img/default-avatar.png" alt="author" class="avatar" />
  <div class="data">
    <p class="author unstyled span6">
      <span class='user_name'></span>
      <abbr class="timeago" title=""></abbr>
    </p>
    <div class="text span12 row-fluid"></div>
  </div>
</div>
