<form>
  <div>
    <label data-localize='appointment.title'>Title:</label>
    <input id='title' class="field" type="text"></input>
  </div>
  <div>
    <label data-localize='appointment.description'>Description:</label>
    <input id='color' class="field" type="text"></input>
  </div>
</form>
