<ul class="counters unstyled row-fluid span12">
  <li class="span4">
    <p class="counter followers">58</p>
    <p class="legend truncate" data-localize="counter.followers">Followers</p>
  </li>
  <li class="span4">
    <p class="counter following">88</p>
    <p class="legend truncate" data-localize="counter.following">Following</p>
  </li>
  <li class="span4">
    <p class="counter updates">8888</p>
    <p class="legend truncate" data-localize="counter.updates">Updates</p>
  </li>
</ul>
