<div class="template">

  <div class="container">
    <div class="row">
      <p class="loading span8 offset2">
        <img src="/img/ajax-loader.gif" alt="loading" /> belinkr
      </p>
    </div>

    <div class="row span8 offset2">
      <ul class="footer unstyled">
        <li>Copyright (c) 2012 Belinkers, Ltd. All rights reserved</li>
        <li>|<a href="/privacy">Privacy policy</a></li>
        <li>|<a href="/terms">Terms & conditions</a></li>
      </ul>
    </div>
  </div>

</div>
