<div class="box row-fluid">
  <h3><span data-localize="heading.following">Following</span>
    <a href="" data-localize="heading.all">See all</a></h3>
  <ul class="following avatars unstyled span12">
  </ul>
</div>