<div class="box row-fluid">
  <h3><span data-localize="heading.followers">Followers</span>
    <a href="" data-localize="heading.all">See all</a></h3>
  <ul class="followers avatars unstyled span12">
  </ul>
</div>