<div>
  <header>
    <ul class="commands">
      <li><a data-wysihtml5-command="bold" title="CTRL+B"></a></li>
      <li><a data-wysihtml5-command="italic" title="CTRL+I"></a></li>
      <li><a data-wysihtml5-command="insertUnorderedList"></a></li>
      <li><a data-wysihtml5-command="insertOrderedList"></a></li>
      <li><a data-wysihtml5-command="createLink"></a></li>
      <li><a data-wysihtml5-command="insertImage"></a></li>
      <li><a data-wysihtml5-command="formatBlock" 
        data-wysihtml5-command-value="h1">H1</a></li>
      <li><a data-wysihtml5-command="formatBlock" 
        data-wysihtml5-command-value="h2">H2</a></li>
      <li><a data-wysihtml5-action="change_view"></a></li>
    </ul>
  </header>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>

  <div data-wysihtml5-dialog="insertImage" style="display: none;">
    <label>
      Image:
      <input data-wysihtml5-dialog-field="src" value="http://">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>
