<div class="template">
  <div class="navbar navbar-fixed-top"></div>

  <div id="content" class="container-fluid">
    <div id="left-content" class="container-fluid">
      <div id="main" class="row-fluid"></div>

      <div id="sidebar" class="row-fluid">
        <div class="header row-fluid">
          <form class="form-search row-fluid">
            <input type="text" class="search-query span8" 
            placeholder="search ..." />
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
