<div class="template">
  <div class="row">
    <div class="offset10">
      <a href="#" class="zh"><img src="/img/flags/cn.png" /></a>
      <a href="#" class="en"><img src="/img/flags/us.png" /></a>
    </div>
  </div>
  <div class="row">
    <h1 class="span3 offset8"><a href="http://www.belinkr.com">belinkr</a></h1>
  </div>

  <div class="row">
    <div class="picture span8">
      <div class="tagline">
        <h3 data-localize="login.header">
          Welcome to belinkr. Befriend your work.
        </h3>
        <p data-localize="login.description">
           Engage your communities intelligently. Interact with your team, 
           clients and partners. Visualize enterprise social data. 
           Collaborate in private workspaces. Let emerging knowledge 
           follow you.
        </p>
      </div>
    </div>

    <form class="well span3 signin" action="/sessions" method="post">
      <input type="text" class="email" placeholder="e-mail" data-localize="login.e-mail"/>
      <input type="password" class="password" placeholder="password" data-localize="login.password"/>
      <label class="checkbox">
        <input type="checkbox" class="remember" name="remember" />
        <span data-localize="login.remember_me">Remember me</span>
      </label>
      <button type="submit" class="btn btn-primary pull-right">
        <span data-localize="login.sign_in">Sign in</span>
        <i class="icon-arrow-right icon-white"></i>
      </button>
      <a href="#" class="go_reset" data-localize="login.forgot_password">Forgot password?</a>
    </form>

    <form class="well span3 enroll" action="/sessions" method="post">
      <input type="text" data-localize="login.your_name" placeholder="your name" />
      <input type="text" data-localize="login.your_email" placeholder="your e-mail" />
      <input type="text" data-localize="login.your_company" placeholder="your company" />
      <button type="submit" class="btn btn-warning pull-right" data-localize="login.request_invitation">
        New account
      </button>
    </form>
  </div>
  <div class="row">
    <ul class="footer unstyled">
      <li>Copyright (c) 2012 Belinkers, Ltd. All rights reserved</li>
      <li>|<a href="/privacy">Privacy policy</a></li>
      <li>|<a href="/terms">Terms & conditions</a></li>
    </ul>
  </div>
</div>
