<div class="template">
  <a class="brand" href="#"><span>belinkr</span></a>
  <div class="navbar-inner">
    <div id="toolbar" class="container">
      <ul class="nav">
        <li class="activity active"> 
          <a href="#"><span data-localize="navbar.activity">activity</span></a>
        </li>
        <li class="divider-vertical"></li>
        <li class="workspaces">
          <a href="#"><span data-localize="navbar.workspaces">workspaces</span>
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li class="scrapbooks">
          <a href="#scrapbooks"><i class="icon-book icon-white"></i> <span data-localize="navbar.scrapbooks">scrapbooks</span></a>
        </li>
        <li class="divider-vertical"></li>
        <li class="people">
          <a href="#users">
            <i class="icon-user icon-white"></i> <span data-localize="navbar.people">people</span>
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li class="notifications">
          <a href="#notifications">
              <i class="icon-inbox icon-white"></i> <span data-localize="navbar.notifications">notifications</span><span class="badge badge-info hide">0</span>
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <div class="dropdown" style="margin-top: 12px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span data-localize="navbar.authorize">authorize</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/oauth/authorize?site=sina">
                  <i class="sina-authorize"></i> 
                </a>
              </li>
              <li>
                <a href="/oauth/authorize?site=tencent">
                  <i class="tencent-authorize"></i> 
                </a>
              </li>
              <li>
                <a href="/oauth/authorize?site=netease">
                  <i class="netease-authorize"></i> 
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="session" class="truncate">
    <div id="menu" class="dropdown">
      <img src="/img/avatar.jpg" alt="you" />
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="user_name">Luo Weizhong ekjafje</span>
        <i class="icon-chevron-down icon-white"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class='settings' data-localize='session.edit_profile'>edit profile</a></li>
        <li class="divider"></li>
        <li><a href="#" data-localize='session.english' data-context='en'>English</a></li>
        <li><a href="#" data-localize='session.chinese' data-context='zh'>Chinese</a></li>
        <li class="divider"></li>
        <li><a href="#" class="logout" data-localize='session.logout'>log out</a></li>
      </ul>
    </div>
  </div>
</div>
