<div class="template">
  <div class="row">
    <div class="offset10">
      <a href="#" class="zh"><img src="/img/flags/cn.png" /></a>
      <a href="#" class="en"><img src="/img/flags/us.png" /></a>
    </div>
  </div>
  <div class="row">
    <h1 class="span3 offset7"><a href="http://www.belinkr.com">belinkr</a></h1>
  </div>

  <div class="row">
    <form class="offset3 span6 well signup" action="#" method="post">
      <h2 data-localize="reset.header">Reset your password</h2>
      <ul class="unstyled">
        <li>
          <input type="password" class="password span6" 
          placeholder="new password" data-localize="reset.new_password"/>
        </li>
        <li>
          <input type="password" class="password_confirmation span6" 
          placeholder="confirm password" data-localize="reset.confirm_password" />
        </li>
        <li>
          <button class="save btn btn-primary pull-right" data-localize="action.save">save</button>
        </li>
      </ul>

    </form>
  </div>

  <div class="row span8 offset2">
    <ul class="footer span8 offset2 unstyled">
      <li>Copyright (c) 2012 Belinkers, Ltd. All rights reserved</li>
      <li>|<a href="/privacy">Privacy policy</a></li>
      <li>|<a href="/terms">Terms & conditions</a></li>
    </ul>
  </div>
</div>
