<div>
  <div class="avatar">
    <img src="../img/default-avatar.png" alt="avatar" />
  </div>
  <div class="predicate">
    <p>
    </p>
    <abbr class="timeago">22 minutes ago</abbr>
  </div>
</div>