<div class='template'>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12" data-localize='notification.header'>Notifications</h1>
    </div>
  </div>


  <div id="main" class="row-fluid">
    <div id="notifications"></div>
    <button class="btn servernext span10" data-localize="action.more">The
      next page
    </button>
  </div>

  <div id="sidebar"></div>
</div>
