<div class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">&times;</a>
        <h4 data-localize="delete_modal.header">Confirm</h4>
    </div>
    <div class="modal-body" data-localize="delete_modal.message">
        Confirm to remove this reply?
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="no" data-localize="action.cancel">No</button>
        <button class="btn btn-warning" data-dismiss="modal" data-localize="action.confirm">Yes</button>
    </div>
</div>