<div class="template reply_form">
  <form action="" method="post" class="reply">
    <div class="offset8">
      <button type="button" class="btn">
        <i class="icon-arrow-up" rel="tooltip" title="Collapse" data-localize="button.action.collapse"></i>
      </button>
    </div>
    <div id="editor-toolbar-status-reply">
    </div>
    <ul class="unstyled">
      <li>
        <textarea name="text" cols="40" rows="2" placeholder="Your reply ..." data-localize="reply.text">
        </textarea>
      </li>
      <li><button class="btn submit reply" data-localize="action.reply">reply</button></li>
    </ul>
  </form>
</div>
