<div class="template">
  <div class="row">
    <div class="offset10">
      <a href="#" class="zh"><img src="/img/flags/cn.png" /></a>
      <a href="#" class="en"><img src="/img/flags/us.png" /></a>
    </div>
  </div>
  <div class="row">
    <h1 class="span3 offset7"><a href="http://www.belinkr.com">belinkr</a></h1>
  </div>

  <div class="row">
    <form class="offset3 span6 well signup" action="#" method="post">
      <h2 data-localize="reset.header">Reset your password</h2>

      <p data-localize="reset.enter_email">Please enter your email below:</p>
      <ul class="unstyled">
        <li>
          <input type="text" class="email span6" 
            placeholder="e-mail address as registered in belinkr" data-localize="reset.registered_email"/>
        </li>
        <li>
          <button class="reset btn btn-primary pull-right" data-localize="reset.send">reset password
          </button>
        </li>
        <li>
          <span data-localize="reset.have_account">Already have an account? Please</span>
          <a href="#" class="go_login" data-localize="reset.log_in">log in here</a>
        </li>
      </ul>

    </form>
  </div>


  <div class="row span8 offset2">
    <ul class="footer span8 offset2 unstyled">
      <li>Copyright (c) 2012 Belinkers, Ltd. All rights reserved</li>
      <li>|<a href="/privacy">Privacy policy</a></li>
      <li>|<a href="/terms">Terms & conditions</a></li>
    </ul>
  </div>
</div>
