<div class="template">
  <form class="statuses scraps articles" action="/scrapbooks/" method="post">
    <div id="editor-toolbar-scrap"></div>
    <ul class="unstyled">
      <li>
        <textarea rows="3" class="span11" 
        placeholder="your thoughts ..." id="scrap" data-localize="scrap.text"></textarea>
      </li>
      <li>
        <button type="submit" class="submit btn btn-primary" data-localize="action.post">post</button>
      </li>
      <div class="uploader"></div>
    </ul>
  </form>
  <ul class="scraps unstyled"></ul>
  <button class="btn servernext span10" data-localize="action.more">The next page</button>
</div>
