<div>
  <div class="modal hide fade" id="delete_scrapbook_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="scrapbook.header">Scrapbook</h4>
    </div>
    <div class="modal-body">
      <form>
        <span data-localize="scrapbook.delete_message">
          Are you sure to delete this scrapbook?
        </span>
        <a href="#" class="btn" data-context="delete-scrapbook" data-localize="action.confirm">Yes</a>
        <a href="#" class="btn" data-dismiss="modal" data-localize="action.cancel">No</a>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div class="modal hide fade" id="update_scrapbook_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="scrapbook.header">Scrapbook</h4>
    </div>
    <div class="modal-body">
      <form class="scrapbook new" action="" method="post">
        <ul class="unstyled">
          <li>
            <input type="text" name="name"/>
            <br/>
            <button class="submit btn btn-primary span2" data-localize="action.update">Update</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span10"></h1>
      <a class="btn" data-toggle="modal" data-target="#delete_scrapbook_modal"
         data-context="delete-scrapbook" rel="tooltip" title="delete scrapbook" data-localize="action.delete">
        Delete</a>
      <a class="btn" data-toggle="modal"
         data-target="#update_scrapbook_modal" rel="tooltip"
         title="update scrapbook" data-context="edit-scrapbook" data-localize="action.edit">Edit</a>
    </div>
  </div>
</div>