<div id="content" class="container-fluid">
  <div id="scrapbook-header">
    <div class="row-fluid">
      <h1 class="span12" data-localize="scrapbook.create">Create a new scrapbook</h1>
     </div>
  </div>
  <div id="main" class="row-fluid"></div>

  <div id="sidebar" class="row-fluid">
    <div class="header row-fluid">
      <form class="form-search row-fluid">
        <input type="text" class="search-query span8"
        placeholder="search ..." data-localize="action.search"/>
      </form>
    </div>
    <div class="boxes row-fluid">
      <div class="box row-fluid">
        <div class="modal hide fade" id="create_scrapbook_modal">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h4 data-localize="scrapbook.create">Create scrapbook</h4>
          </div>
          <div class="modal-body">
            <form class="scrapbook new" action="/scrapbooks" method="post">
              <ul class="unstyled">
                <li>
                  <input type="text" name="name" data-filler="scrapbook name" data-localize="scrapbook.name"/>
                  <button class="submit btn btn-primary span2"  data-localize="action.create">create</button>
                </li>
              </ul>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
          </div>
        </div>
        <h3><span data-localize="scrapbook.header">Scrapbooks</span>
          <span>
            <i class="icon-plus icon-white" data-toggle="modal"
            data-target="#create_scrapbook_modal" rel="tooltip" 
            title="create scrapbook"></i>
          </span>
        </h3>
        <ul class="scrapbooks list left unstyled span11"></ul>
      </div>
    </div>
  </div>
</div>
