<div id="template">
  <div id="sidebar" class'sidebar row-fluid'>
    <div class="header row-fluid">
      <form class="form-search row-fluid">
        <input type="text" class="search-query span8" 
        placeholder="search ..." />
      </form>
    </div>

    <div class="sidebar row-fluid">
      <div class="scrapbooks_sidebar row-fluid">
        <h3>Scrapbooks<span><i class="icon-plus icon-white"> </i></span></h3>
        <ul class="scrapbooks list unstyled span11">
          <li>
            <i class="icon-chevron-left"></i> <a href="#">Favorites</a>
          </li>
          <li>
            <i class="icon-chevron-left"></i> <a href="#">Drafts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
