<div>
    <h3 class="truncate"><a href="/scrapbooks/">Workspace A with a very long very
        long title</a></h3>

    <p>
        <span data-context="comment"><i class="icon-comment"></i></span>
    </p>
    <div class="btn-group">
        <button class="btn">
            <i class="icon-white"></i>enter
        </button>
    </div>
</div>
