<div class="template">
  <img src="/img/avatars/12_s.jpg" alt="author" />
  <div class="data span11">
    <p class="author unstyled span6">
      <span class='user_name'></span>
      <span class="timeago" title=""></span>
      <span class="label label-warning"></span>
    </p>
    <ul class="links unstyled">
      <!--<li><a class="share" href="#"><i class="icon-share-alt"></i></a></li>-->
    </ul>
    <div class="text span12 row-fluid"></div>
    <ul class="files unstyled"></ul>
  </div>
</div>
