<div>
  <div class="modal hide fade" id="create_scrapbook_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="scrapbook.create">Create scrapbook</h4>
    </div>
    <div class="modal-body">
      <form class="scrapbook new" action="/scrapbooks" method="post">
        <ul class="unstyled">
          <li>
            <input type="text" name="name" data-filler="scrapbook name"
                   class="span3" data-localize="scrapbook.name"/>
            <button class="submit btn btn-primary span2" data-localize="action.create">create</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div class="box row-fluid">
    <h3><span data-localize="scrapbook.header">Scrapbooks</span>
    <span>
      <i class="icon-plus icon-white" data-toggle="modal"
         data-target="#create_scrapbook_modal" rel="tooltip"
         title="create scrapbook" data-localize="scrapbook.create"></i>
    </span>
    </h3>
    <ul class="scrapbooks list unstyled span11">
    </ul>
    <button class="btn span11 all_scrapbooks">
      <span data-localize="scrapbook.all">all scrapbooks</span> <i class="icon-chevron-right"></i>
    </button>
  </div>
</div>