<div class="template">
  <img src="/img/avatar.jpg" alt="author" class="avatar"/>
  <div class="data">
    <p class="author unstyled span6">
      <span class='user_name'></span>
      <abbr class="timeago" title=""></abbr>
      <span class="label label-warning"></span>
    </p>
    <ul class="links unstyled">
      <li>
        <a class="delete" href="#">
          <i class="icon-trash" title="delete" rel="tooltip" data-localize="button.action.delete"></i>
        </a>
      </li>
      <!--<li><a class="share" href="#"><i class="icon-share-alt"></i></a></li>-->
    </ul>
    <div class="text span12 row-fluid"></div>
    <ul class="files unstyled"></ul>
    <ul class="replies unstyled"></ul>
  </div>
</div>
