<div class="template">
  <div class="btn-group">
    <a href="#" class="activity btn">Updates</a>
    <a href="#" class="users btn active">People</a>
    <a href="#" class="workspaces btn">Workspaces</a>
    <a href="#" class="scrapbooks btn">Scrapbooks</a>
  </div>
</div>

