<div class="template">
  <div class="row">
    <div class="offset10">
      <a href="#" class="zh"><img src="/img/flags/cn.png" /></a>
      <a href="#" class="en"><img src="/img/flags/us.png" /></a>
    </div>
  </div>
  <div class="row">
    <h1 class="span3 offset7"><a href="http://www.belinkr.com">belinkr</a></h1>
  </div>

  <div class="row">
    <form class="offset3 span6 well signup" action="/invitations" method="post">
      <h2 data-localize="signup.header">Create your account in belinkr</h2>
      <ul class="unstyled">
        <li>
          <input type="text" class="firstname span3" 
            placeholder="first name" data-localize="signup.first_name"/>
          <input type="text" class="lastname pull-right"
            placeholder="last name" data-localize="signup.last_name" />
        </li>
        <li>
          <input type="text" class="email span6" placeholder="e-mail" data-localize="signup.email" />
        </li>
        <li>
          <input type="password" class="password span6" 
            placeholder="new password" data-localize="signup.new_password" />
        </li>
        <li>
          <p class="terms" >
            <span data-localize="signup.accept">By creating my account I confirm I have read and
            accept the</span> <a href="#" data-localize="signup.terms">terms & conditions</a>
          </p>
        </li>
        <li>
          <button class="btn btn-primary pull-right" data-localize="signup.create">create account</button>
        </li>
      </ul>

    </form>
  </div>

  <div class="row span8 offset2">
    <ul class="footer span8 offset2 unstyled">
      <li>Copyright (c) 2012 Belinkers, Ltd. All rights reserved</li>
      <li>|<a href="/privacy">Privacy policy</a></li>
      <li>|<a href="/terms">Terms & conditions</a></li>
    </ul>
  </div>
</div>
