<div class="template">
  <div class="btn-group">
    <a href="/statuses" class="btn active" data-context="statuses"><span data-localize="stream.all">All streams</span>
    </a>
    <!--<a href="#" class="btn" data-context="conversations" data-localize="stream.conversations">Conversations</a>-->
    <a href="/timelines/workspaces" class="btn" data-context="workspaces"><span data-localize="stream.workspaces">Workspaces</span>
    </a>
    <!--<a href="#" class="btn" data-context="action_required" data-localize="stream.action_required">Action required</a>-->
    <a href="/timelines/files" class="btn" data-context="files" data-localize="stream.files">Files</a>
  </div>
</div>

