<div class='template'>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12" data-localize='status.header'>Activity stream</h1>
    </div>
  </div>

  <div id="main" class="row-fluid">
    <form class="statuses articles" action="#" method="post">
      <div id="editor_toolbar_for_status"></div>
      <ul class="unstyled">
        <li>
          <textarea rows="3" class="span11" placeholder="what's new?" data-localize='status.text' id="wysiwyg-statuses">
          </textarea>
        </li>
        <li>
          <button type="submit" class="submit btn btn-primary" data-localize="action.post">post</button>
        </li>
        <div class="uploader"></div>
        <li>
          <!--TODO for different users, display syn logos who has the responding tokens-->
          <!--TODO make input tags hidden, when click image, color changes,
          update input tags's value-->
          <span class="syn-sina">
            <input type="checkbox"/>
            <img src="../img/syn/sina-logo.png"/>
          </span>
          <span class="syn-tencent">
            <input type="checkbox"/>
            <img src="../img/syn/tencent-logo.png"/>
          </span>
          <span class="syn-netease">
            <input type="checkbox"/>
            <img src="../img/syn/netease-logo.png"/>
          </span>
        </li>
      </ul>
    </form>

    <div class="btn-toolbar statuses"></div>
    <ul class="statuses unstyled"></ul>
    <button class="btn servernext span10" data-localize="action.more">The next page</button>

  </div>

  <div id="sidebar"></div>
</div>
