<div class="template">
  <div id="main" class="row-fluid">
      <div class="status article span12 row-fluid">
        <img src="/img/default-avatar.png" alt="author" class="avatar"/>

        <div class="data">
          <p class="author unstyled span6">
            <span class='user_name'></span>
            <abbr class="timeago" title=""></abbr>
            <span class="label label-warning"></span>
          </p>
          <ul class="links unstyled">
            <li>
              <a class="delete" href="#">
                <i class="icon-trash" title="delete" rel="tooltip"
                   data-localize="button.action.delete"></i>
              </a>
            </li>
            <li>
              <a class="new_reply" href="#">
                <i class="icon-arrow-left" title="reply" rel="tooltip"
                   data-localize="button.action.reply"></i>
              </a>
            </li>
          </ul>
          <div class="text span12 row-fluid"></div>
          <ul class="files unstyled"></ul>
          <ul class="replies unstyled"></ul>
        </div>
      </div>
  </div>

  <div id="sidebar"></div>
</div>