<div class="template">
  <a class="file_remove" id="upload_file_remove_">&#215;</a>
  <p class="file_name" id="upload_file_name_"></p>
  <p>
    <span class="file_size" id="upload_file_size_"></span>
    <span class="file_progress" id="upload_file_progress_"></span>
    <span class="file_status" id="upload_file_status_"></span>
  </p>
</div>
