<div class="template">
  <button id="pick_file_" class="pick_file btn" type="button">
    <span data-localize='action.attach' id="pick_file_">Attach file</span>
    <i class="icon-arrow-up" id="pick_file_"></i>
  </button>
  <ul id="file_list_" class="file_list unstyled"></ul>
</div>
