<div class="template">
  <div class="btn-group">
    <a href="#" class="btn">Updates</a>
    <a href="#" class="btn active">People</a>
    <a href="#" class="btn">Workspaces</a>
    <a href="#" class="btn">Scrapbooks</a>
  </div>

  <div class="btn-group">
    <a href="#" class="btn active">
      <i class="icon-th-large"></i> cards
    </a>
    <a href="#" class="btn"><i class="icon-th-list"></i> list</a>
  </div>

</div>

