<div id="content" class="container-fluid">
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12"><span data-localize="profile.header">profile:</span>
      </h1>
    </div>
  </div>

  <div id="main" class="row-fluid">
    <div class="profile">
      <div class="card">
        <div class="picture">
          <img src="" alt="avatar"/>

          <p>
            <button class="btn btn-primary">
              <i class=" icon-white"></i>
              <span>follow</span>
            </button>
          </p>
        </div>
        <div class="info">
          <ul class="unstyled counters">
            <li>
              <p class="legend" data-localize="profile.followers">Followers</p>

              <p class="value" data-context="followers"></p>
            </li>
            <li>
              <p class="legend" data-localize="profile.following">Following</p>

              <p class="value" data-context="following">

              <p>
            </li>
            <li>
              <p class="legend" data-localize="profile.updates">Updates</p>

              <p class="value" data-context="updates"></P>
            </li>
          </ul>
          <p class="name">Lin Guoran</p>
          <ul class="unstyled details">
            <li class="title"></li>
            <li class="mobile"></li>
          </ul>
        </div>
      </div>
      <div class="summary">
        <div class="workspaces">
          <p data-context="workspaces">
            <span data-localize="profile.workspaces">Workspaces -</span>
            <a href="#" data-localize="profile.all">see all &rightarrowtail;</a></p>
          <ul class="workspaces unstyled truncate">
          </ul>
        </div>
        <div class="connections">
          <p data-context="followers">
            <span data-localize="profile.followers">Followers -</span>
            <a href="#" data-localize="profile.all">see all &rightarrowtail;</a></p>
          <ul class="followers avatars unstyled">
          </ul>

          <p data-context="following">
            <span data-localize="profile.following">Following -</span>
            <a href="#" data-localize="profile.all">see all &rightarrowtail;</a></p>
          <ul class="following avatars unstyled">

          </ul>
        </div>
      </div>
    </div>

    <ul class="statuses unstyled">

    </ul>
  </div>

  <div id="sidebar" class="row-fluid">
  </div>

</div>
