<div class="template">
    <img src="img/avatars/12_s.jpg" alt="author" class="avatar"/>

    <div class="data span11">
        <ul class="author unstyled span6">
            <li><span class="user_name">Mike Zhang</span>
                <abbr class="timeago"
                      title="2012-04-03T09:24:17Z"></abbr>
            </li>
        </ul>
        <ul class="links unstyled">
            <li>
              <a class="delete" href="#">
                <i class="icon-trash" title="delete" rel="tooltip" data-localize="button.action.delete"></i>
              </a>
            </li>
            <!--<li><a class="retweet" href="#"><i class="icon-retweet"></i></a></li>-->
            <!--<li><a class="share" href="#"><i class="icon-share-alt"></i></a></li>-->
        </ul>
        <div class="text span12 row-fluid">
            I think the forecast is realistic. Still, we should be
            prepared for some delays in our new products, and that
            will probably affect some of our current sales
            opportunities.
        </div>
        <ul class="files">
        </ul>
    </div>
</div>
