<div>
    <img src="img/avatar.jpg" alt="author" class="avatar"/>

    <div class="data" shit="shit">
        <ul class="author unstyled span6">
            <li><span class="user_name">Luo Weizhong</span>
                <abbr class="timeago" title="time"></abbr>
                <span class="label label-warning"></span>
            </li>
        </ul>
        <ul class="links unstyled">
            <li>
              <a class="delete" href="#">
                <i class="icon-trash" title="delete" rel="tooltip" data-localize="button.action.delete"></i>
              </a>
            </li>
            <!--<li><a class="retweet" href="#"><i class="icon-retweet"></i></a></li>-->
            <!--<li><a class="share" href="#"><i class="icon-share-alt"></i></a></li>-->
        </ul>
        <div class="text span12 row-fluid">
            text
        </div>
        <ul class="unstyled files span12 row-fluid">
        </ul>
        <ul class="replies unstyled">

        </ul>
    </div>
</div>