<div class="template">
  <img src="/img/avatars/1_s.jpg" alt="avatar" class="avatar"/>
  <ul class="unstyled stats">
    <li class="followers">
      <span data-localize='counter.followers'>Followers</span>:
      <span class="followers_count">9999</span>
    </li>
    <li class="following">
      <span data-localize='counter.following'>Following</span>:
      <span class="following_count">9999</span></li>
    <li class="updates">
      <span data-localize='counter.updates'>Updates</span>:
      <span class="updates_count">11299</span>
    </li>
  </ul>
  <ul class="unstyled data">
    <li class="first">Lin</li>
    <li class="last">Guoran</li>
    <li class="title">VP Business Development</li>
    <li class="email"><a href="#">lp@belinkr.com</a></li>
    <li class="mobile">+34 617 382 194</li>
  </ul>
  <button class="btn btn-primary">
    <i class="icon-plus-sign icon-white"></i> <span>follow</span>
  </button>
</div>
