<div id="sidebar" class="sidebar row-fluid">
  <div class="header row-fluid">
    <form class="form-search row-fluid">
      <input type="text" class="search-query span8" 
      placeholder="search ..." />
    </form>
  </div>

  <div class="boxes row-fluid">
    <ul class="counters unstyled row-fluid span12">
    </ul>
    <div class="followers box row-fluid">
      <h3>Followers</h3>
      <ul class="followers avatars unstyled span12">
        <li>
          <a href="#"><img src="/img/avatars/1_s.jpg" alt="author" /></a>
        </li>
      </ul>
    </div>
    <div class="following box row-fluid">
      <h3>Following</h3>
      <ul class="following avatars unstyled span12">
        <li>
          <a href="#"><img src="/img/avatars/14_s.jpg" alt="author" /></a>
        </li>
      </ul>
    </div>

    <div class="workspaces_sidebar row-fluid">
      <h3>Workspaces<span><i class="icon-plus icon-white"> </i></span></h3>
      <ul class="workspaces list unstyled span11">
        <li>
          <a href="#">Q2 Sales Plan</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">2011 accounts</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">Quality improvement</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">New products</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">Shanghai Headquarters</a>
          <i class="icon-chevron-right"></i>
        </li>
      </ul>
      <button class="btn span11">
        all workspaces<i class="icon-chevron-right"></i>
      </button>
    </div>
    <div class="scrapbooks_sidebar row-fluid">
      <h3>Scrapbooks<span><i class="icon-plus icon-white"> </i></span></h3>
      <ul class="scrapbooks list unstyled span11">
        <li>
          <a href="#">Favorites</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">Drafts</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">To read</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">Writings</a>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <a href="#">Research</a>
          <i class="icon-chevron-right"></i>
        </li>
      </ul>
      <button class="btn span11">
        all scrapbooks<i class="icon-chevron-right"></i>
      </button>
    </div>

  </div>
</div>

