<div id="content" class="container-fluid">
    <div id="header">
        <div class="row-fluid">
            <h1 class="span12" data-localize="settings.header">Edit profile</h1>
        </div>
    </div>

    <div id="main" class="row-fluid">
        <div class="settings">
            <form class="well">
                <div class="avatar">
                    <img src="/img/default-avatar.png" alt="avatar" />
                    <input type="hidden" name="avatar" />
                    <p><button class="btn btn-small" id="pick_file" data-localize="settings.change_avatar">change picture</button></p>
                </div>
                <ul class="unstyled">
                    <li><h4></h4></li>
                    <li>
                        <input type="text" name="first"
                               placeholder="first name" data-localize="settings.first_name"/>
                        <input type="text" name="last"
                               placeholder="last name"  data-localize="settings.first_name"/>
                    </li>
                    <li>
                        <input type="text" name="position" placeholder="position" class="position" data-localize="settings.position"/>
                    </li>
                    <li>
                        <input type="text" name="mobile"
                               placeholder="mobile phone #" data-localize="settings.mobile"/>
                    </li>
                    <li>
                        <input type="text" name="landline"
                               placeholder="landline phone #" data-localize="settings.landline"/>
                    </li>
                    <li>
                        <input type="text" name="fax"
                               placeholder="fax #" data-localize="settings.fax"/>
                    </li>
                    <li>
                        <select name="locale">
                            <option value="en">Locale: English</option>
                            <option value="zh">Locale: Chinese Simplified</option>
                            <option value="es">Locale: Español</option>
                        </select>
                    </li>
                    <li>
                        <select name="timezone">
                            <option value="Europe/Madrid">
                                Timezone: Europe/Madrid</option>
                            <option value="Asia/Shanghai">Timezone: Asia/Shanghai</option>
                        </select>
                    </li>
                    <li>
                        <p><button class="btn btn-primary pull-right" data-localize="action.save">save</button></p>
                    </li>
                    <div class="uploader"></div>
                </ul>
            </form>
        </div>
    </div>

    <div id="sidebar" class="row-fluid">

        <div class="header row-fluid">
            <form class="form-search row-fluid">
                <input type="text" class="search-query span8"
                       placeholder="search ..." data-localize="action.search"/>
            </form>
        </div>

    </div>
</div>