<div class="modal hide fade" id="remove_collaborator_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h4 data-localize="workspace.collaborators.modal.remove.header">Confirmation</h4>
  </div>
  <div class="modal-body">
    <form>
      <span data-localize="workspace.collaborators.modal.remove.body">Are you sure to remove this collaborator?</span>
      <a href="#" class="btn" data-context="delete-collaborator" data-localize="action.confirm">Yes</a>
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.cancel">No</a>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
  </div>
</div>