<div>
    <h3 data-localize="workspace.sidebar.statistic.header">Statistics</h3>
    <ul class="counters unstyled row-fluid span12">
        <li class="span4">
            <p class="counter people"></p>

            <p class="legend truncate" data-localize="workspace.sidebar.statistic.people">People</p>
        </li>
        <li class="span4">
            <p class="counter updates"></p>

            <p class="legend truncate" data-localize="workspace.sidebar.statistic.updates">Updates</p>
        </li>
    </ul>
</div>