<div>
    <img src="/img/avatar.jpg" alt="author" class="avatar"/>
    <div class="data">
        <p class="state">
            <abbr class="timeago" title="2012-04-03T09:24:17Z"></abbr>
        </p>
        <p class="message"><a href="#" class="actor">Luo Weizhong</a>
            <span data-localize="workspace.auto_invitation.requested_access">
              requested access to
            </span>
            <a href="#" class="object">Workspace A</a>
        </p>
        <ul class="actions unstyled">
            <li>
                <button class="btn btn-success">
                    <i class="icon icon-ok icon-white"></i>
                    <span data-localize="button.workspace.auto_invitation.accept">accept</span>
                </button>
            </li>
            <li>
                <button class="btn btn-danger">
                    <i class="icon icon-ban-circle icon-white"></i>
                    <span data-localize="button.workspace.auto_invitation.reject">reject</span>
                </button>
            </li>
        </ul>
    </div>
</div>