<div>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12">Administrators</h1>
    </div>
  </div>
  <div id="main" class="row-fluid">
    <div class="flash"></div>
    <div class="results">
      <ul class="cards unstyled"></ul>
    </div>
    <button class="btn servernext span10" data-localize="action.more">The next
      page
    </button>
  </div>
  <div id="sidebar">
    <div class="header row-fluid">
      <form class="form-search row-fluid">
        <input type="text" class="search-query span8"
               placeholder="search ..." data-localize="action.search"/>
      </form>
    </div>
  </div>
</div>
