<div>
  <div class="modal hide fade" id="invite_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h4 data-localize="workspace.sidebar.invite.modal.header">Invite to workspace</h4>
    </div>
    <div class="modal-body">
      <form class="invite new" action="/invitations" method="post">
        <ul class="unstyled">
          <li>
            <select name="invite_user" id="invite_user" class="span6"
                    data-placeholder='please enter username' data-localize="workspace.sidebar.invite.modal.text" multiple>
            </select>
          </li>
          <li><a class="invite_user submit btn btn-warning  span2"
                 href="#" data-localize="action.send">send</a></li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div class="template">
    <button class="btn btn-warning invite span3"
            data-toggle="modal" data-target="#invite_modal">
      <i class="icon-plus icon-white"></i> <span data-localize="workspace.sidebar.invite.header">invite to workspace</span>
    </button>
  </div>
</div>
