<div>
  <div class="modal hide fade" id="create_workspace_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="workspace.create">Create workspace</h4>
    </div>
    <div class="modal-body">
      <form class="workspace new" action="/workspaces" method="post">
        <ul class="unstyled">
          <li>
            <input type="text" name="name" data-filler="workspace name" data-localize="workspace.name"/>
            <button class="submit btn btn-primary span2" data-localize="action.create">create</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div class="box row-fluid">
    <h3><span data-localize="workspace.header">Workspaces</span>
    <span>
      <i class="icon-plus icon-white" data-toggle="modal"
         data-target="#create_workspace_modal" rel="tooltip"
         title="create workspace" data-localize='workspace.create'></i>
    </span>
    </h3>
    <ul class="workspaces list unstyled span11"></ul>
    <button class="btn span11 all_workspaces">
      <span data-localize="workspace.all">all workspaces</span><i class="icon-chevron-right"></i>
    </button>
  </div>
</div>
