<div>
  <div class="modal hide fade" id="delete_workspace_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="workspace.header">Workspace</h4>
    </div>
    <div class="modal-body">
      <form>
        <span data-localize="workspace.delete_message">Are you sure to delete this workspace?</span>
        <a href="#" class="btn" data-context="delete-workspace" data-localize="action.confirm">Yes</a>
        <a href="#" class="btn" data-dismiss="modal" data-localize="action.cancel">No</a>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div class="modal hide fade" id="update_workspace_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">&times;</a>
      <h4 data-localize="workspace.header">Workspace</h4>
    </div>
    <div class="modal-body">
      <form class="workspace new" action="" method="post">
        <ul class="unstyled">
          <li>
            <input type="text" name="name"/>
            <br/>
            <button class="submit btn btn-primary span2" data-localize="action.update">Update</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12"></h1>
      <a class="btn" data-toggle="modal" data-target="#delete_workspace_modal"
         data-context="delete-workspace" rel="tooltip" title="delete workspace" data-localize="action.delete">
        Delete</a>
      <a class="btn" data-toggle="modal"
         data-target="#update_workspace_modal" rel="tooltip"
         title="update workspace" data-context="edit-workspace" data-localize="action.edit">Edit</a>
    </div>
  </div>
</div>