<div>
    <div class="btn-group">
        <a href="" class="btn" data-context='timeline'>
          <span data-localize="workspace_toolbar.timeline">Timeline</span>
        </a>
        <a href="" class="btn" data-context='files'>
          <span data-localize="workspace_toolbar.files">Files</span>
        </a>
        <a href="" class="btn" data-context='invitations'>
          <span data-localize="workspace_toolbar.invitations">Invitations</span>
        </a>
        <a href="" class="btn" data-context='autoinvitations'>
          <span data-localize="workspace_toolbar.access_requests">Access requests</span>
        </a>
    </div>
</div>