<div class="box row-fluid">
  <div class="modal hide fade" id="administrator_demote_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h4 data-localize="workspace.sidebar.administrator.modal.demote">Demote User</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.search">Close</a>
    </div>
  </div>
  <h3>
    <span data-localize="workspace.sidebar.administrator.header">Administrators</span>
    <a href="" data-localize="workspace.sidebar.administrator.link_all">See all</a>
  </h3>
  <ul class="avatars unstyled span12">
  </ul>
</div>