<div id="header">
  <div class="row-fluid"><h1 class="span12" data-localize="workspace.header">Workspaces</h1></div>
</div>
<div id="main" class="row-fluid">
  <div class="btn-toolbar">
  </div>

  <div class="modal hide fade" id="accept_invitation_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="3">&times;</a>
        <h4 data-localize="workspace.accept_invitation">Accept workspace invitation</h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>

  <div class="results">
    <ul class="workspaces unstyled"></ul>
  </div>
  <button class="btn servernext span10" data-localize="action.more">The next page</button>
</div>

<div id=sidebar></div>
