<div class='template'>
  <div class="btn-group">
    <a href="/workspaces/own" class="btn" data-context="own">
      <span data-localize="workspace.own">Your workspaces</span>
    </a>
    <a href="/workspaces" class="btn" data-context="all">
      <span data-localize="workspace.all">All Workspaces</span>
    </a>
    <a href="/workspaces/invited" class="btn" data-context="invited">
      <span data-localize="workspace.invited">Invited</span>
    </a>
    <a href="/workspaces/autoinvited" class="btn" data-context="autoinvited">
      <span data-localize="workspace.autoinvited">Access requested</span>
    </a>
  </div>
</div>
