<div id="sidebar" class="sidebar row-fluid">
    <div class="header row-fluid">
        <form class="form-search row-fluid">
            <input type="text" class="search-query span8"
                   placeholder="search ..." />
        </form>
    </div>
    <div class="boxes row-fluid">
        <div class="box row-fluid invitation"></div>
        <div class="box row-fluid statistics"></div>
        <div class="box row-fluid administrators"></div>
        <div class="box row-fluid collaborators"></div>
    </div>

</div>
