<div class="box row-fluid">
  <div class="modal hide fade" id="collaborator_promote_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h4 data-localize="workspace.sidebar.collaborator.modal.promote">Promote
        User</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" data-localize="action.close">Close</a>
    </div>
  </div>
  <h3>
    <span data-localize="workspace.sidebar.collaborator.header">Collaborators</span>
    <a href="" data-localize="workspace.sidebar.collaborator.link_all">See all</a>
  </h3>
  <ul class="avatars unstyled span12">
  </ul>
</div>