<div class="template">
    <img src="/img/default-avatar.png" alt="avatar" class="avatar"/>
    <ul class="unstyled data">
        <li class="user_name"></li>
        <li class="title">VP Business Development</li>
        <li class="email"><a href="#">lp@belinkr.com</a></li>
        <li class="mobile">+34 617 382 194</li>
    </ul>
    <button class="btn demote_or_promote"></button>
</div>
