<div>
  <div id="header">
    <div class="row-fluid">
      <h1 class="span12"></h1>
    </div>
  </div>

  <div id="main" class="row-fluid">
    <div class="template">
      <form class="statuses articles" action="#" method="post">
        <div id="editor-toolbar-workspace-statuses">
        </div>
        <ul class="unstyled">
          <li>
            <textarea rows="3" class="span11" placeholder="what's new?" id="workspace-status" data-localize="status.text">
            </textarea>
          </li>
          <li>
            <button type="submit" class="submit btn btn-primary" data-localize="action.post">post</button>
          </li>
          <div class="uploader"></div>
        </ul>
      </form>
      <div class="btn-toolbar statuses"></div>
      <ul class="statuses unstyled"></ul>
      <button class="btn servernext span10" data-localize="action.more">The next page</button>
    </div>
  </div>

  <div id="sidebar">
    <div class="header row-fluid">
      <form class="form-search row-fluid">
        <input type="text" class="search-query span8"
               placeholder="search ..." data-localize="action.search"/>
      </form>
    </div>
  </div>
</div>
