<div>
    <img src="/img/avatar.jpg" alt="author" class="avatar"/>
    <div class="data">
        <p class="state">
            <abbr class="timeago" title="2012-04-03T09:24:17Z"></abbr>
            <span class="label">state</span>
        </p>
        <p class="message"><a href="#" class="actor">Luo Weizhong</a>
          <span data-localize="workspace.auto_invitation.requested_access">
              requested access to
            </span>
            <a href="#" class="object">Workspace A</a>
        </p>
    </div>
</div>