<div class="template">
  <div data-jid ='' title='' class='conversation'>
    <div class="message_container">
      <ul class="messages"></ul>
      <input class="chat_input" type="text">
    </div> 
  </div> 
</div>

