<div class="template">
  <div style='display: block' class='' data-jid='jid'>
    <div class="avatar">
      <img src="" width=\"33\" height=\"33\"/>
      <span class="name">
      </span>
    </div>
  </div>
</div>

