<div class="template">
   <div id="login">
     <label for="login_password">login_password</label>
     <input type="password" name="login_password" value="" id="login_password"/>
     <input type="submit" name="login_button" id="login_button"/>
   </div>

