<div class="template">
  <div id="accordion">
    <h3><a href="#">Online</a></h3>
    <div id="contact-list-online" class="ui-accordion-content" style="overflow: auto">
      <ul class='unstyled'>
      </ul>
    </div>
    <h3><a href="#">Offline</a></h3>
    <div id="contact-list-offline" class="ui-accordion-content" style="overflow: auto">
      <ul class='unstyled'>
      </ul>
    </div>
  </div>
</div>

