<div class="template">
  <div class="row-fluid">
      <ul id="roster">
        <div id="login">
         </div>
        <div id="user">
        </div>
        <div id="roster_search">
        </div>
        <div id="contact-list">
          <h1>
          loading...
          </h1>
        </div>
      </ul>
    </div>
    </div>
